/* .box {
    width: 100%;
    background-color: #4ea819;
    color: white; */
    /* padding:2% 15% 2% 15%; */
    /* text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.boxh1 {
    color: white;


}

.boxinput {
    width: 200px;
    height: 30px;
    border: 1px solid #999DA1;


    padding: 3px;
    width: 25%;
    margin-right: 10px;
    border-radius: 3px;
}

.boxbutton {
    width: 200px;
    height: 37px;
    border: none;

    padding: 10px;
    border-radius: 3px; */
    /* border: white; */
    /* border: 1px solid white;

    color: white;
    background-color: #4ea819;
}

.boxbutton:hover {
    background-color: white;
    color: #4ea819;
}


.maindiv {
    display: grid;
    grid-template-columns: repeat(2, 600px); */
    /* border: 1px solid red; */
    /* padding: 20px;
    row-gap: 50px;
    justify-content: space-around;

}

.maincomp {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 2px;

}

.maincomp>h1 {
    text-align: left;
}

.maincomp>h1+ul>li {
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

.mainbutton { */
    /* width:90%; */

    /* width: 200px;
    height: 37px;
    border: none;

}

.mainbutton:hover {
    background-color: white;
    color: #4ea819;
}

.boxupper {
    background-color: #f5f5f6;
    padding-top: 5%;
    padding-bottom: 3%;
} */

#general{
    font-weight: 700;
    font-size: medium;
}